.salad-menu-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;
}

.salad-image {
  flex: 1;
  margin-right: 200px;
}

.salad-image img {
  max-width: 100%;
  margin-left: 100px;
  border: 5px solid black;
}

.salad-menu-items {
  margin-left: 100px;
  flex: 1;
  padding-left: 20px;
}

.salad-menu-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 10px;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .salad-menu-items {
    order: 2;
  }

  .salad-image {
    order: 1;
  }
  .salad-menu-container {
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }

  .salad-menu-item {
    margin-left: -10px;
  }

  .salad-menu-items,
  .salad-image {
    flex: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .salad-image img {
    margin-left: 0;
  }
}
