.about-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.about {
  font-size: 2rem;
  font-size: 28px;
  margin-bottom: 10px;
  margin-left: 170px;
}

.about-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}
