.header-container {
  position: relative;
  margin-bottom: 4rem;
  border-bottom: 1px solid #000;
  background-image: linear-gradient(
    111.4deg,
    rgba(238, 113, 113, 1) 1%,
    rgba(246, 215, 148, 1) 58%
  );
}

.text-content {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header-image {
  width: 400px;
  height: 500px;
}

@media (max-width: 767px) {
  .text-content {
    font-size: 16px;
    top: 55%;
    left: 40%;
  }

  .header-image {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .text-content {
    font-size: 16px;
    top: 55%;
    left: 40%;
  }

  .header-image {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .text-content {
    font-size: 14px;
    top: 60%;
    left: 40%;
  }

  .header-image {
    height: 300px;
  }
}
