.gray_background {
  background-color: rgb(226, 226, 226);
  padding-top: 50px;
  height: 400px;
}

.container {
  margin-top: 20px;
  padding-bottom: 150px;
}

.carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bordered-box {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 500px;
}

h2 {
  text-align: center;
}
