.language-selector {
  margin-right: 30px;
  display: flex;
}

.language-selector button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.language-selector button:hover {
  color: #ffc27d;
}
